stages:
  - build
  - test

variables:
  GRADLE_USER_HOME: "${CI_PROJECT_DIR}/.gradle"
  KONAN_DATA_DIR: "${CI_PROJECT_DIR}/.konan"

cache:
  key: "gradle-cache-$CI_COMMIT_REF_SLUG"
  paths:
    - .gradle/wrapper
    - .gradle/caches
    - .konan/
  policy: pull-push

include:
  # Secret Scanning
  - remote: "https://gitlab.opencode.de/l3montree/devguard-ci-components/-/raw/v1.0.0-rc.4/templates/secret-scanning.yml"
    inputs:
      devguard_api_url: "https://api.devguard.opencode.de"
      devguard_asset_name: "tsenger/projects/lib/assets/vdstools"
      devguard_token: "$DEVGUARD_TOKEN"
      devguard_web_ui: "https://devguard.opencode.de"
      stage: "test"

  # Static Application Security Testing (SAST)
  - remote: "https://gitlab.opencode.de/l3montree/devguard-ci-components/-/raw/v1.0.0-rc.4/templates/static-application-security-testing.yml"
    inputs:
      devguard_api_url: "https://api.devguard.opencode.de"
      devguard_asset_name: "tsenger/projects/lib/assets/vdstools"
      devguard_token: "$DEVGUARD_TOKEN"
      devguard_web_ui: "https://devguard.opencode.de"
      stage: "test"
      allow_failure: true

  # Software Composition Analysis (SCA)
  - remote: "https://gitlab.opencode.de/l3montree/devguard-ci-components/-/raw/v1.0.0-rc.4/templates/software-composition-analysis.yml"
    inputs:
      devguard_api_url: "https://api.devguard.opencode.de"
      devguard_asset_name: "tsenger/projects/lib/assets/vdstools"
      devguard_token: "$DEVGUARD_TOKEN"
      devguard_web_ui: "https://devguard.opencode.de"
      stage: "test"

jvm_test:
  stage: build
  image: eclipse-temurin:21-jdk
  script:
    - chmod +x gradlew
    - ./gradlew jvmTest --build-cache
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"